div(class="wrapper-blog" id= blog._id)
  div(class="blog-author")
    if blog.author.avatar
      image(src=`/image/${blog.author.avatar}`)
    else 
      image(src='https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png')
    div(onclick=`openProfileByUser("${blog.author._id}")`)
      span(class="blog-author_name")= blog.author.userName
      span(class="blog-author_email")= blog.author.email
    if isOwner
      div(class="action-blog" style="flex-direction: row; justify-content: end;")
        button(id="edit-blog" title="Sửa blog" onclick=`openPopupEdit("${blog._id}");`)
          i.fa.fa-edit
        button(id="delete-blog" title="xóa blog" onclick=`deleteBlog("${blog._id}");`)
          i.fa.fa-trash
  div(class="blog-content")
    if blog.content
      div(class="blog-decriptions")= blog.content
    if blog.image
      image(src=`/image/${blog.image}`)
  div(class="content-comment")
    each comment in blog.comments
      include boxComment
  div(class="blog-comments")
    if user.avatar
      image(src=`/image/${user.avatar}`)
    else 
      image(src='https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png')
    input(id="input-comment" placeholder="Write a comment...")
    button(class="btn-add-comment")
      i.fa.fa-share
  div(class="wrapper-popup-blog-edit" name= blog._id)
    div(class="popup-add-blog-edit")
      div(class="popup-header-edit")
        div(style="width: 35px;")
        div(style="font-size: 30px; font-weight: bold; color: rgba(14, 14, 14, 0.8)") Chỉnh sửa blog
        div(id="close-popup-edit" title="Đóng popup")
          i.fa.fa-times-circle
      hr(width="90%")
      form(action=`/blog/${blog._id}` method="POST" enctype="multipart/form-data")
        div(class="content-popup-edit")
          textarea(name="content" id="content-edit" rows="13" cols="50")
          div(class="chose-file-edit")
            button
              i.fa.fa-picture-o
            input(type="file" name="imageBlogEdit" accept="image/*")
        div(style="padding: 0 20px")
          button(class="btn-submit-edit-blog" type="submit") Lưu